.breadcrumbs {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 32px;
    font-size: 16px;
}

.breadcrumbs a {
    color: rgba(139, 139, 139, 1);
    text-decoration: none;
    transition: color 0.2s;
}

.separator {
    color:  rgba(139, 139, 139, 1);
}

.current {
    color: rgba(40, 40, 40, 1);

}

@media (max-width: 768px) {
    .breadcrumbs {
        margin-bottom: 24px;
        font-size: 14px;
    }
}

@media (max-width: 480px) {
    .breadcrumbs {
        margin-bottom: 20px;
        font-size: 12px;
    }
} 